<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width", initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>GOES Decoder</title>
    <link href="css/styles.css" rel="stylesheet">
    <script src="js/bundle.js" defer></script>
</head>

<body>
    <div class="goes-grid">
            <div class="format-label">Format</div>

            <!-- name is used to reference the form data when its
                 submitted.  If name is ommited, no data from the
                 text area is submitted.

                 id is used to associate the text area with a label
            -->

            <!-- style sheet notes
               class='xx' is the name for the style sheet layout
            -->
            <div class="format-ta"><textarea format-ta rows="4" cols="50">
                           fp2_1, i_1_3, s_2_1
                                   </textarea>
            </div>


            <div class="buffer-label">Buffer</div>


            <div class="buffer-ta"><textarea buffer-ta rows="4" cols="50">
                               Xyaz598d
                                   </textarea>
            </div>

            <div class="output-label">Decodes to</div>

            <div class="output-ta"><textarea output-ta rows="4" cols="50">
                               1.03, 424.0, 123.0
                                   </textarea>
            </div>

            <button ac-button class="ac-button">AC</button>

            <button decode-button class="decode-button">Decode</button>


    </div>


</body>
</html>

