<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Document </title>
</head>
<body>

Hello <%= 2 + 2 %>
Hello <%= text %>
Better <%= locals.text %>
Even Better <%= locals.text || 'Default' %>

<div>Test 1</div>
<div class = "content" >Test 2</div>
<div class = "content" id="first">Test 3</div>
<div class = "content" id="second">Test 4</div>


</body>
</html>

