<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width", initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>GOES Decoder</title>
    <link href="css/styles.css" rel="stylesheet">
    <script src="js/bundle.js" defer></script>
</head>

<body>
    <div class="goes-grid">
            <div class="format-label">Format</div>

            <!-- name is used to reference the form data when its
                 submitted.  If name is ommited, no data from the
                 text area is submitted.

                 id is used to associate the text area with a label
            -->

            <!-- style sheet notes
               class='xx' is the name for the style sheet layout
            -->
            <div class="format-ta_d textarea_d"><textarea class=textarea_e format-ta rows="4" >
                           fp2_1, i_1_3, s_2_1
                                   </textarea>
            </div>


            <div class="buffer-label">Buffer</div>


            <div class="buffer-ta_d textarea_d"><textarea class=textarea_e buffer-ta rows="4" >
                               Xyaz598d
                                   </textarea>
            </div>

            <div class="output-label">Decodes to</div>

            <div class="output-ta_d textarea_d"><textarea output-ta class=textarea_e rows="4" >
                               1.03, 424.0, 123.0
                                   </textarea>
            </div>

            <button ac-button class="ac-button">AC</button>

            <button decode-button class="decode-button">Decode</button>

            <div class="spec1-label">Spec Format Notes</div>
            <div class="spec2-label">fp2_n</div>
            <div class="spec3-label">i_b_n</div>
            <div class="spec4-label">u_b_n</div>
            <div class="spec5-label">s_b_n</div>
            <div class="spec6-label">b is num bytes</div>
            <div class="spec7-label">n is num values of type</div>
            <div class="spec8-label">fp2 : FP2</div>
            <div class="spec9-label">i : signed int</div>
            <div class="speca-label">u : unsigned int</div>
            <div class="specb-label">s : string</div>


            <div class="sample1-label">EX 22:23  b@@Eh??zX@@CR??|n@@@|???D//////////////////////////////////////////////////////////////////////////////////////////</div>
            <div class="sample2-label">EX 21:23  b@KP?tp@Hz?wF@Fd?y\@DN?{r@Ax?~H//////////////////////////////////////////</div>
            <div class="sample3-label">ASCII  "$Pm 0.0, 0.0, /////,/////, /////,/////, /////,/////, /////,/////, /////,/////, /////,/////, /////,/////, /////,/////, /////,/////, /////,/////, /////,/////,</div>



    </div>


</body>
</html>

